header {
    background-color:#e960e0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    background-color: antiquewhite;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    border: 1px dotted gray;
    padding: 10px 10px 10px 10px;
}

h1 {
    padding: top, bottom = 10px;
    padding: right, left = 5px;
    color: #bd25b3;
    background-color: aquamarine;
}
